.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/src-tauri/target
/openssl*
/src/i18n/i18n*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

static/languages/*.json
